.button {
	margin-left: 0px;
	height: 50px;
	cursor: pointer;
	background-color: beige;
	font-size: 1.5rem;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
}
.button:hover {
	background-color: rgb(240m 240, 155);
}
